
/* style */


.banner_image_container {
  width: 100%;
}

.column_service-offered,
.column_review-carousel_callbackrq-form {
  padding: 0 0 0 0;
}

.intro .col-12 {
  width: 100%;
}


.footer_row_main {
  width: 100%
}

.footer_row_main .col-4 {
  height: auto;
}





.index_banner,
.intro_to_ab,
.index_footer_main {
  width: 100%; 
  padding: 0 0 0 0;
}

.service_provided_for {
  width: 100%;
  background-color: #F3F3F3;
  margin: 50px 0 20px 0;
  padding: 40px 0 40px 0;
}

.custom_container {
  max-width: 1080px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  position: relative;
}

.business_service {
  max-width: 1080px;
  padding: 10px 20px 10px 20px;
  margin: 0 auto 0 auto;
  background-color: #FFFFFF;
  border: 2px solid #E2E2E2;
}

.ab_review_callback_request {
  width: 100%;
  margin: 50px 0 20px 0;
  padding: 40px 0 40px 0;
}




.footer_main_container_custom {
  max-width: 100%;
  padding: 10px 20px 10px 20px;
  margin: 40px auto 0 auto;
  position: relative;
}

.content-container_within {
  max-width: 1080px;
  padding: 0px 20px;
  margin: 0 auto 0 auto;
  position: relative;
}



main {
  display: block; 
  padding: 0 0 0 0;
}




footer {
  display: block;
  padding: 15px 0;
  font-size: 1em;
  font-weight: normal;
}



.footer-bt_left {
  float: left;
}

.footer-bt_right {
  float: right;
}

.footer-bt_right p a {
  font-style: italic;
}


h3.title_quick-links_h3 {
  font-size: 1.7em;
  margin: 0 0 .5em 0;
  font-weight: bold;
}



.footer_row_main .col-4 .quick-link_footer-navigation ul {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
}


.footer_row_main .col-4 .quick-link_footer-navigation ul li {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: 18px;
}



img.service_image_responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 10px 0 20px 0;
  width: 100%;
}



img.ab_logo_responsive {
  display: block;
  width: 50%;
  min-width: 120px;
  max-width: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 10px;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0 0 0 0;
}




.column_service-offered h3 {  
  font-size: 1.85em;
  font-weight: 600;
}

h2.form_call-me-back_form_header {
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}

h1.name_ab {
  margin: 0 0 0.5em 0;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}

p.slogan_ab {
  margin: 0 0 0.5em 0;
  text-align: center;
}

.column_review-carousel_callbackrq-form p {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

p {
  font-size: 1.44em;
  margin: 0 0 1.8em 0;
  text-align: left;
}

.vert_spacer_divide {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.business_service .row,
.reviews_carousel_form_callback .row {
  margin-right: 0;
  margin-left: 0;
}

.clear-custom {
  clear: both;
  line-height: 1px;
}


 /* carousel style */

.carousel {
  display: block;
  position: relative;
  width: 100%;
  height: 500.4px;
}

#reviews .carousel {
  height: 600.4px;
}

.carousel .carousel_review_view {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel .review_slide_track {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel .slide_review {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: #DDDDDD;
}

.carousel .slide_review:nth-child(even) {
  background: #EEEEEE;
}

.carousel .review_slide_track {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

  /* carousel controls */

   /* previous next arrow controls */

.carousel .left_control ,
.carousel .right_control {
  display: none;
  position: absolute;
  top: 45%;
  left: 1.5em;
  font-size: 32px;
  color: #FFFFFF !important;
  text-shadow: 1px 1px #414141;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
  filter: alpha(opacity=55);
  -moz-opacity: 0.55;
  -khtml-opacity: 0.55;
  opacity: 0.55;
}

.carousel .right_control {
  left: auto;
  right: 1.5em;
}

.carousel .left_control :hover ,
.carousel .right_control :hover  {
  color: #888888;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.carousel .left_control.inactive ,
.carousel .right_control.inactive  {
  color: #BBBBBB;
  cursor: default;
}

   /* -- // end of previous next arrow controls style -- */

   /* slide index dot control style */

.carousel .wrap_dot_control_indicator {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  font-size: 0;
  line-height: 0;
  text-align:center ;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

   /* -- // end of slide index dot control style -- */

   /* slide index indicator dot control style */

.carousel .dot_control_index_indicator {
  display: -moz-inline-stack;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.carousel .dot_control_index_indicator.current {
  background: #16a085;
}

   /* -- // end of slide index indicator dot control style -- */

   /* control play-pause carousel style */

.carousel .control {
  display: none;
}
.carousel .control_play_carousel.hidden,
.carousel .control_pause_carousel.hidden {
  display: none !important;
}

   /* -- // end of control play-pause carousel style -- */

  /* -- // end of carousel controls style -- */

 /* -- // end of carousel style -- */


 /* request a callback form style */


.column-form_call-me-back-form-right {
  padding: 12% 3.51% 12% 3.51%;
  height: 600.4px;
}



.column-form_call-me-back-form-right>div {
  height: 100%;
}


.requires-a-callback_form-for {
  
}


.requires-a-callback_form-for div:nth-child(3) {
  padding-top: 32px;
}


.input-field-label {
/*
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #555555;
*/
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  min-height: 52px;
  border-bottom: none; 
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}


.field_input-text_entry,
.field_input-contactnumber_entry {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 14px;
  color: #000;
  line-height: 1.2;
  padding: 5px 25px;
}


input.field_input-text_entry,
.field_input-contactnumber_entry {
  height: 52px;
  border: none;
  outline: none;
}


.form-field {
  width: 100%;
  position: relative;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}


.user-input_fieldfield-name,
.field-contact {
  width: 96%;
  margin: 0 auto;
}


.field_input-text_entry,
.field_input-contactnumber_entry {
  padding: 5px 19px;
}


.btn_submitform_callback_container {
  width: 96%;
  margin: 0 auto;
}



.requestcallback-btn_submit {
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
//  font-family: Montserrat-Bold;
  font-size: 14px;
  color: #000000;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}


.btn_submitform_callback_container {
  padding-top: 63px;
}


.column_review-carousel_callbackrq-form p {
  padding-bottom: 20px;
}



.alert_of-invalid-input-entry:before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #FFFFFF;
  border: 1px solid #C80000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #C80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0.0;
  -khtml-opacity: 0.0;
  opacity: 0.0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert_of-invalid-input-entry:after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert_of-invalid-input-entry:hover:before {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;
}

 /* -- // end of request a callback form style -- */

/* -- // end of style -- */
